$primary:#eaea;
$text-color: rgba(12, 11, 11, 0.04);



.user-menu-widget {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        // font-weight: 600;
        margin: 0 1.5rem;
    }
}

.m-dropdown {
    position: relative;
    z-index: 2;

    &-top {
        background: #3333;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
        }

        &.show {
            img {
                border: 3px $primary solid;
            }
        }
    }

    &-logout {
        position: absolute;
        top: 3rem;
        text-align: left;
        text-align: left;
        right: 0;
        background: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 3px 4px #bbbbbb;

        div {
            display: flex;
            width: 11rem;
            padding: 0.7rem 0.2rem;
            border-top: 1px solid $text-color;
            border-left: none;
            border-bottom: none;
            border-right: none;
            border-radius: 4px;
            cursor: pointer;
            background: transparent;

            &:hover {
                background: $text-color;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                &:hover {
                    background: rgb(163, 163, 163);
                    border-radius: 50%;
                
                }
            }

            &>* {
                margin: 0 0.4rem;
            }

            a {
                color: black;
                margin-left: -0.2rem;
            }
        }

    }
}


.def-style {
    background-color: red !important;
}