$primary:rgba(12, 11, 11, 0.04);
$text-color: rgba(12, 11, 11, 0.04);


@font-face {
    font-family: 'Sora';
    src:
        url('~@/assets/fonts/sora/Sora-Bold.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-ExtraBold.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-ExtraLight.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Light.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Medium.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Regular.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Thin.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@mixin setBoxContent($view) {
    display: flex;
    justify-content: $view;
    align-items: center;
}


.user-menu {
    @include setBoxContent(center);
}

.login-section {
    @include setBoxContent(center);
    background: none;
    outline: none;
    border: none;

    &>* {
        margin: 0 0.4rem;
    }
}

.user-menu-widget {
    position: relative;
    font-family: sans-serif;
    @include setBoxContent(center);

    &-title {
        margin: 0 1.5rem;
        padding: auto;
    }
}


.m-dropdown {
    position: relative;
    z-index: 2;

    &-top {
        @include setBoxContent(center);
        background: #3333;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        @include setBoxContent(center);
        cursor: pointer;

        img {
            border-radius: 50%;
        }

        &-active {
            img {
                border-radius: 50%;
            }
        }
    }

    &-logout {
        position: absolute;
        top: 3.6rem;
        text-align: left;
        right: 0;
        background: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 3px 4px #bbbbbb;

        div {
            @include setBoxContent(space-between);
            text-align: center;
            width: 11rem;
            padding: 0.7rem 1rem;
            border-top: 1px solid $text-color;
            border-left: none;
            border-bottom: none;
            border-right: none;
            border-radius: 4px;
            cursor: pointer;
            background: transparent;

            &:hover {

                background: $text-color;
            }

            img {

                &:hover {
                    background: rgb(163, 163, 163);
                    border-radius: 50%;

                }
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: black;
                margin-left: -0.2rem;
            }
        }


    }
}